<!-- Main Template with template literal -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>My Dream Team</title>
</head>
<style>
    #top, #engineer, #manager, #intern {
    color: #fff;
    background: linear-gradient(125deg, #3b54d4,#30cfcf, #89f0a3);
    box-shadow: 0 0 20px #00000060;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana,Tahoma, sans-serif;
}

#form {
    margin-bottom: 20px;
    border-radius: 40px;
    background: #f1f1f199;
    position: relative;
    font-size: 20px;
    width: 100%;
    font-family: Verdana,Tahoma, sans-serif;
}
h1 {
    font-size: 70px;
    font-weight: 900;
}
</style>
<body>
    <div id="top" class="container-fluid">
        <div class="row" style=" height: 130px;">
            <h1 class="mx-auto my-auto" style="color: #ffffff;">My Dream Team</h1>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row justify-content-center">

                    <!-- Team HTML will be placed here using template literals -->
                    
<!-- Engineer Template with template literals -->

<div id="engineer" class="card m-3 " style="width: 20rem;">
    <div id="engineer" class="card-header text-white">
        <h3>re</h3>
        <h5>Engineer</h5>
    </div>
    <div class="card-body text-dark">
        <ul class="list-group">
            <li id="form" class="list-group-item" style="font-size: 14px;">ID: ere</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">Email: erer</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">GitHub: erer</li>
        </ul>
    </div>
</div>
<!-- Intern Template with template literals -->

<div id="intern" class="card m-3 " style="width: 20rem;">
    <div id="intern" class="card-header text-white">
        <h3>erer</h3>
        <h5>Intern</h5>
    </div>
    <div class="card-body text-dark">
        <ul class="list-group">
            <li id="form" class="list-group-item" style="font-size: 14px;">ID: ree</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">Email: ere</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">School: erere</li>
        </ul>
    </div>
</div>
<!-- Manager Template with template literals -->

<div id="manager" class="card m-3 " style="width: 20rem;">
    <div id="manager" class="card-header text-white">
        <h3>erere</h3>
        <h5>Manager</h5>
    </div>
    <div class="card-body text-dark">
        <ul class="list-group">
            <li id="form" class="list-group-item" style="font-size: 14px;">ID: ere</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">Email: ere</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">Office Number: rer</li>
        </ul>
    </div>
</div>
<!-- Engineer Template with template literals -->

<div id="engineer" class="card m-3 " style="width: 20rem;">
    <div id="engineer" class="card-header text-white">
        <h3>erere</h3>
        <h5>Engineer</h5>
    </div>
    <div class="card-body text-dark">
        <ul class="list-group">
            <li id="form" class="list-group-item" style="font-size: 14px;">ID: erere</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">Email: erer</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">GitHub: erere</li>
        </ul>
    </div>
</div>

                </div>
            </div>
            <div class="col-md-2"></div>

        </div>

    </div>
</body>
</html>