<!-- Manager Template with template literals -->

<div id="manager" class="card m-3 " style="width: 20rem;">
    <div id="manager" class="card-header text-white">
        <h3>${manager.name}</h3>
        <h5>${manager.getRole()}</h5>
    </div>
    <div class="card-body text-dark">
        <ul class="list-group">
            <li id="form" class="list-group-item" style="font-size: 14px;">ID: ${manager.id}</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">Email: ${manager.email}</li>
            <li id="form" class="list-group-item" style="font-size: 14px;">Office Number: ${manager.officeNumber}</li>
        </ul>
    </div>
</div>